<meta charset="UTF-8">
<title>{{ site.name }}</title>
<link rel="icon"
      type="image/png"
      href="img/favicon.png">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta name="author" content="{{ site.author }}">
<meta property="og:image" content="https://scontent-icn1-1.xx.fbcdn.net/hphotos-xfp1/t31.0-8/12028817_878266435584390_3330203812299302040_o.jpg" />
<link rel="stylesheet" href="css/main.css">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' rel='stylesheet' type='text/css'>
